* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
  
html {
	height: 100%;
	position: relative;
}      

.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

body { 
	font: 13px Helvetica, Arial; 
	min-height: 100%;
	background:url("./img/loginImage.jpg"); 
}

aside {
  float: right;
  width: 28%;
}

#buttons {
	float: right;
	width: 25%;
	padding: 10px;
}
section {
  float: left;
  width: 63%;
  height: 100%;
  padding: 10px;
  padding-left: 300px;
}

nav {
	float: left;
	width: 275px;
	height: 100%;
}



#messages { 
	background-color: #BEBEBE; 
	overflow:hidden; 
	list-style: none; 
	margin: 0;
	padding: 0; 
	height:100%; 
	overflow-y:scroll;
}

#roomList {
    list-style:none;
    height:200px;
    width:500px;
    overflow-y:scroll;
    background:rgba(0,0,0,.5);
}

#roomList li {
    text-indent: 20px;
    line-height: 40px;
}

#roomList li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

#roomList li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

#roomList li a:active,
#roomList li a:focus {
    text-decoration: none;
    background:#000;
}

#blackjackBoard {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 400px;
	height: 300px;
}

#createRoom {
    float:left;
    padding-right:4px;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

.modal-body {
	margin: 0;
	background-color: #5A6673;
	opacity: .8;
	border-color: #5A6673;
	color: black;
	padding-top: 0;
	padding-bottom: 0;
}

.modal-header {
	margin: 0;
	background-color: #1E90FF;
	color: black;
	opacity: .7;
	padding-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.modal-footer {
	margin: 0;
	opacity: .7;
	color: black;
	padding-top: 0;
	background-color: #1E90FF;
}

#loginModal button.btn {
	background: #008B8B;
	opacity: .9;
	color: black;
	font-weight: bold;
	border: solid;
	border-color: black;
	text-transform: uppercase;

}

.tab-content {
	padding: 5px;
	background-color:  #5A6673;
}

.nav-tabs > li > a {
	border: medium none;
	color: white;
	background: #161616;
	text-transform: uppercase;
}

.nav-tabs > li > a:hover {
	background-color: #5A6673 !important;
	border: medium-none;
	border-radius: 0;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	background-color: #5A6673;
	opacity: .8;
	color: black;
	font-weight: bold;
	outline: none;
	text-transform: uppercase;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}