* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
      
body { 
	font: 13px Helvetica, Arial; 
	background:url("./img/loginImage.jpg"); 
}
 
#messages { 
	background-color: rgba(0,0,0, 0.5); 
	overflow:hidden; 
	list-style-type: none; 
	margin: 0; 
	adding: 0; 
	height:100%; 
	overflow-y:scroll;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

.modal-body {
	margin: 0;
	background-color: #5A6673;
	opacity: .8;
	border-color: #5A6673;
	color: black;
	padding-top: 0;
	padding-bottom: 0;
}

.modal-header {
	margin: 0;
	background-color: #1E90FF;
	color: black;
	opacity: .7;
	padding-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.modal-footer {
	margin: 0;
	opacity: .7;
	color: black;
	padding-top: 0;
	background-color: #1E90FF;
}

button.btn {
	background: #008B8B;
	opacity: .8;
}