* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
      
body { 
	font: 13px Helvetica, Arial; 
	background:url("./img/loginImage.jpg"); 
}
 
#messages { 
	background-color: rgba(0,0,0, 0.5); 
	overflow:hidden; 
	list-style-type: none; 
	margin: 0; 
	adding: 0; 
	height:100%; 
	overflow-y:scroll;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}